body {
    width: 400px;
    margin: 0px;
    background-color: #2c3e50;
    color: #ecf0f1;
    min-width: 357px;
    /* overflow-x: hidden; */
}

h1 {
  font-family: 'Muli', sans-serif;
}

img {
    margin: 5px;
    width: 50px;
    height: 50px;
}

.contents {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

/* .site_name p{
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #2c3e50;
  background: #ecf0f1;
} */
